:root {
  --purple: #672588;
  --white: #FFFFFF;
  --black: #000000;
  --orange: #eb951e;
  --accent-orange: #ff8e01; 
  --grey: #939496;
  --dark-grey: #717171; 
  --light-grey: #ececec; 
}
body {
  background-image: url('assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.logo {
  width: 12rem;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--white);
}
.clicklab_form_container {
  width: 80%;
  color: var(--white);
  padding: 1rem;
  margin-bottom: 6rem;
}
.form-control {
  border: none;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  font-size: 1.3rem;
  padding: 0.4rem 1rem;
}
.form-control:focus::placeholder {
  color: var(--white);
}
.form-control:focus {
  background-color: var(--accent-orange);
  color: var(--white);
}
.form-select {
  border: none;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  font-size: 1.3rem;
}
.form-select:focus {
  background-color: var(--accent-orange);
  color: var(--white);
}
.form-error {
  padding-left: 0.5rem;
  background-color: rgba(218, 67, 67, 0.5);
  font-weight: 100;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}
.btn-submit {
  width: 8rem;
  font-size: 1.3rem;
  background-color: var(--accent-orange);
  color: var(--white);
  border: none;
}
.btn-submit:focus,
.btn-submit:hover {
  background-color: var(--dark-grey);
  color: var(--black);
}
/* button:focus:not(:focus-visible) {
  background-color: var(--accent-orange);
} */
.form-check-input:checked {
  background-color: var(--orange);
  border-color: var(--orange);
}
@media screen and (min-width: 576px) {
  .clicklab_form_container {
    width: 80%; 
  }
}
@media screen and (min-width: 960px) {
  .clicklab_form_container {
    width: 90%; 
  }
}
@media screen and (min-width: 1200px) {
  .clicklab_form_container {
    width: 70%; 
  }
}